
<h2>Aviso de Privacidad</h2>

<span>
  <p>De conformidad con lo establecido en el Décimo Quinto de los Lineamientos para la Ley de Protección de Datos Personales del Estado de Chihuahua, por medio del presente aviso, como Sujeto Obligado, con domicilio en la Ave. Juárez, No. 601 de la colonia Centro; hago de su conocimiento que los datos personales recabados de TRÁMITES Y SERVICIOS serán protegidos, incorporados y tratados en los SISTEMAS DE DATOS PERSONALES DEL MUNICIPIO DE CHIHUAHUA.</p>
  <p>La finalidad de estos Sistemas de Datos Personales, es la de obtener, ordenar y resguardar los datos de quienes realicen trámites, soliciten u obtengan servicios y se registran mediante formulario o escrito libre físico y/o electrónico.</p>
  <p>Al ser  participe en la selección de ganadores y como juez del FOMAC,  se deberá apegar a la  Ley de Protección de Datos Personales del Estado de Chihuahua, no difundir ni hacer mal uso de la información a la que se tiene acceso y apegarse solo a las facultades que se le acreditan como parte de la Comisión Técnica del FOMAC 2017.</p>
</span>