<span class="card-title">Editar juez</span>
<%= render 'form', project_assignment: @project_assignment %>

<%#= link_to 'Show', @project_assignment %>
<%#= link_to 'Back', project_assignments_path %>
