<span class="card-title">Edición de usuario</span>
<%= render 'form', user: @user %>

<!--%= link_to 'Usuarios registrados', @user, class: 'btn waves-effect waves-light' %> |-->
<%= link_to 'Regresar', users_path, class: 'btn waves-effect waves-light' %>
