<h1>Editar Observacion</h1>
<h2><%= Project.where(id: Revision.where(id: params[:id]).first.project_id).first.folio %> <%= Project.where(id: Revision.where(id: params[:id]).first.project_id).first.information.name %></h2>

<%= render 'form_edit', revision: @revision %>

