<h1>Observacion </h1><br>
<h2><%= Project.where(id: params[:project_id]).first.folio %> <%= Project.where(id: params[:project_id]).first.information.name %></h2>

<%= render 'form', revision: @revision %>

