 <span class="card-title">Agregar observaciones al proyecto:<br><strong><%= Project.where(id: params[:project_id]).first.folio %> <%= Project.where(id: params[:project_id]).first.information.blank? ? "":Project.where(id: params[:project_id]).first.information.name%> </strong></span>

<%= render 'form', revision: @revision %>

