<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2>Se encontraron errores, que evitaron se guardara la informacion</h2>
    <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
