
<p class="flow-text">
  Descarga estos documentos llénalos y súbelos donde el sistema te los solicite
</p>
<br>
<a target="_blank" href="/docs/Cartas_FOMAC.docx" class="btn waves-effect waves-light" download style="color:white!important">
  <i class="material-icons left">cloud</i> Descargar "Cartas FOMAC"
</a><br><br><br>
<p class="flow-text">
  Este es el formato que se debe utilizar para realizar el desglose de gastos, fuentes de financiamiento y cronograma de actividades.
</p>
<br>
<a target="_blank" href="/docs/TABLAS_FOMAC.xlsx" class="btn waves-effect waves-light" download style="color:white!important">
  <i class="material-icons left">cloud</i> Descargar "Formato de cronograma, gastos y financiamiento"
</a>
<br><br><br>
<%= link_to 'Continuar', add_documents_people_path( @project), class: 'btn waves-effect waves-light', style:"color:white!important" %>

