<div class="card-content">
  <div class="row documents-title">
    <span>Descarga estos documentos llénalos y súbelos donde el sistema te los solicite</span>
  </div>
  <div class="row">
    <div class="col s12">
      <span>Cartas FOMAC - </span><a target="_blank" href="/docs/Cartas_FOMAC.docx">Descargar</a>
    </div>
  </div>
  <div class="row documents-title">
    <span>Este es el formato que se debe utilizar para realizar el desglose de gastos, fuentes de financiamiento y cronograma de actividades.</span>
  </div>
  <div class="row">
    <div class="col s12">
      <span>Formato para el cronograma de actividades, desglose de gastos y fuentes de financiamiento - </span>
      <a target="_blank" href="/docs/TABLAS_FOMAC.xlsx">Descargar</a>
    </div>
  </div>
link_to 
</div>
