<p class="flow-text">
	Haz concluido con el proceso de inscripción al FOMAC tu proyecto será evaluado por un grupo de especialistas.
</p><br>
<p class="flow-text">
	Este pendiente para los resultados y da seguimiento a ellos con el siguiente folio: <b style="font-size:20px"> <%= @project.folio %> </b>
</p><br>
<p class="flow-text">
	Recibirás un correo con tu folio, verifica en la bandeja de entrada, tu bandeja de spam o también cada vez que inicies sesión podrás ver este mensaje.
</p>
