<p id="notice"><%= notice %></p>

<h1>Projects</h1>


<table id="projects-table", data-source="<%= projects_path(format: :json) %>">
  <thead>
  <tr>
    <th>Folio</th>
    <th>User</th>
    <th>Category</th>
    <th>Show</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<!--
<table>
  <thead>
    <tr>
      <th>Folio</th>
      <th>User</th>
      <th>Category</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @projects.each do |project| %>
      <tr>
        <td><%#= project.folio %></td>
        <td><%#= project.user %></td>
        <td><%#= project.category %></td>
        <td><%#= project.status %></td>
        <td><%#= link_to 'Show', project %></td>
        <td><%#= link_to 'Edit', edit_project_path(project) %></td>
        <td><%#= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <#% end %>
  </tbody>
</table>
-->
<br>

