<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicito cambiar tu contraseña, puedes hacerlo con la liga de abajo</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no solicitaste el cambio, favor de ignorar este correo</p>
<p>La contraseña se cambia hasta que ingresas una nueva</p>
